*{
    padding:0;
    margin: 0;
}

body, html {
    height: 100vh;
}

.position-absolute {
    position: absolute;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width:80px;
}

#main-left {
    background: #3c3c3c;
}


body{
    font-family: Arial;
    
    #bg {
        clip-path: polygon(0 1%, 95% 0, 78% 100%, 0% 100%);
        background-image:url("/img/Golfbane-bg.jpg");
        background-size: cover;       
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
   
}


#brand {
    color: white;
    font-size: 1.5em;
}

#LeaderTableModal {
    margin-left: 0px;
}

#message-box{
    float:right;
    background-color: rgba(0,0,0,0.5);
    margin:0px 500px 0 0;
    padding:10px;
}

.float{
    float:left;
}

.sticky-nav {
    position: fixed;
    top: 0;
}

.leaderBoard-Pos {
        right: 50px;
        width: 80%;
        
        .leaderBoard{
    
            border-radius: 8px;
            
            box-shadow: 0 10px 30px rgba($color: #3c3c3c, $alpha: 0.4);
        }
}

#main-left {
    p {
        color:white;
    }
}
#weather-img{
    width:150px;
    height: 150px;
}

#footer{
    bottom: 0;
    width: 100%;
    height: 70px; 
    position:fixed;
    bottom: 0;
    color: white;
}

.icon-color{
    color:white;
}

.display-block {
    display: block;
}

#playButton{
    width:250px; 
    position: relative;
    text-align: center;
    margin: auto;
}

.btn-bg{
    background-color:rgba(0,0,0,0);
    border:none;
}

.carousel-item{
    width:110%;
    p {
        float:left;
        text-align: center;
        padding: 0 80px;
        color:red;
    }
}



#RNGolf{
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #playButton{
        margin-top:-260px;
        width:150px;
    }
    #weather-img{
        margin-top:20px;
        width:70px;
        height: 70px;
    }
    .leaderBoard{
        margin-left:65px;
    }
    #carouselExampleSlidesOnly{
        height: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #playButton{
        margin-top:-180px;
    }
    #weather-img{
        margin-top:10px;
        width:70px;
        height: 70px;
    }
    .leaderBoard{
        margin-top:-20px;
        margin-left:65px;
    }
    #carouselExampleSlidesOnly{
        height: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #playButton{
        margin-top:550px;
    }
    #weather-img{
        margin-top:20px;
        width:100px;
        height: 100px;
    }
    .leaderBoard{
        margin-top:50px;
        margin-left:-30px;
    }
    #carouselExampleSlidesOnly{
        height: 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #playButton{
        margin-top:450px;
    }
    #weather-img{
        margin-top:20px;
        width:150px;
        height: 150px;
    }
    .leaderBoard{
        margin-top:50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #playButton{
        margin-top:450px;
    }
    #weather-img{
        margin-top:20px;
        width:150px;
        height: 150px;
    }
    .leaderBoard{
        margin-top:50px;
    }
}
  